<table>
  <% 
    var i; 
    for(i=0; i<quizes.length; i++) { 
  %>
  <tr>
    <td>
	  <a href="quizes/<%= quizes[i].id %>">
	    <%= quizes[i].pregunta %>
	  </a>
	</td>
  </tr>
  <% 
   } 
  %>  
</table>
<form method="get" action="/quizes">
  Texto a buscar:
  <p>
  <input type="text" name="search" value="Texto" />
  <input type="submit" value="Enviar" />	  
</form>